.countDown {
  font-size: large;
}

.progressContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 30px;
  background-color: #f3f3f3; /* Background color of the progress bar container */
}

.seedPhrase {
  font-size: 1.5rem;
  z-index: 9;
  font-weight: bold;
  color: black; /* Set your text color */
}

/* Progress bar */
.progress {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4caf50; /* Color of the progress bar */
  transition: width 0.5s; /* Smooth transition animation */
}
