.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 20px;
  width: 100%;
}

.artContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
}

.art {
  position: relative;
  max-width: 800px;
  min-width: 400px;
  height: 100%;
  width: 60%;
}
