.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  gap: 20px;
  width: 100%;
}

.artContainer {
  padding-left: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  height: 100%;
}

.art {
  position: relative;
  max-width: 800px;
  min-width: 400px;
  width: 50%;
  height: 100%;
}
