.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  height: 100%;
  gap: 20px;
  width: 100%;
}

.artContainer {
  padding-left: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.art {
  max-width: 800px;
  min-width: 400px;
  width: 40%;
}

.submitConatiner {
  position: relative;
}

.create::after {
  content: "CREATE";
  position: absolute;
  color: black;
  top: 100%;
  left: 0;
}

.destroy::after {
  content: "DESTROY";
  position: absolute;
  color: black;
  top: 100%;
  left: 0;
}
