.wordPipe {
  background-color: grey;
  position: relative;
  height: 300px;
  width: 200px;
}

.wordPopUp {
  position: absolute;
  border-radius: 20px;
  padding: 3px 15px;
}

.positiveWord {
  bottom: 0;
  left: 0;
  background-color: lightgreen;
  color: black;
}

.negativeWord {
  top: 0;
  right: 0;
  background-color: lightcoral;
  color: white;
}
