.wordContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 200px;
  align-items: flex-end;
  margin-top: 50px;
}

.wordContainer span {
  text-align: center;
  width: 100%;
}

.word {
  height: fit-content;
  width: fit-content;
  border-radius: 5px;
  padding: 3px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: black;
}

.thumb {
  position: absolute;
  opacity: 0.4;
  z-index: -1;
}

.thumbsUp {
  transform: scaleX(-1);
  margin-right: -250px;
}

.thumbsDown {
  margin-left: -250px;
}
