.wordPipe {
  position: relative;
  height: 100%;
  background: grey;
}

.wordPopUp {
  position: absolute;
  border-radius: 20px;
  padding: 3px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.positiveWord {
  bottom: 0;
  left: 0;
  background-color: lightgreen;
  color: black;
}

.negativeWord {
  top: 0;
  right: 0;
  background-color: lightcoral;
  color: white;
}

.submitContainer {
  position: absolute;
  width: 200px;
  bottom: 20%;
  right: calc(0% - 150px);
  border-radius: 3rem;
  background: white;
  padding: 10px 40px 10px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.submitContainer input {
  width: 100%;
  background: white;
  border-bottom: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.submitButton {
  left: 95%;
  position: absolute;
  background: darkslategrey;
  color: white;
  border-radius: 10px;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: calc(50% - 15px);
}
