.wordPipe {
  position: relative;
  height: 100%;
}

.wordPopUp {
  position: absolute;
  border-radius: 20px;
  padding: 3px 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.positiveWord {
  bottom: 0;
  left: 0;
  background-color: lightgreen;
  color: black;
}

.negativeWord {
  top: 0;
  right: 0;
  background-color: lightcoral;
  color: white;
}

.submitContainer {
  position: absolute;
  width: 200px;
  top: 50%;
  left: calc(50% - 150px);
  border-radius: 3rem;
  border: 2px solid black;
  background: white;
  padding: 10px 40px 10px 40px;
}

.submitContainer input {
  width: 100%;
  background: white;
  border-bottom: 1px solid grey;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

.submitButton {
  position: absolute;
  background: darkslategrey;
  color: white;
  height: 20px;
  width: 50px;
  text-align: center;
  padding: 5px;
  top: calc(50% - 15px);
  left: calc(50% - 30px);
}
